:root {
  --color-primary: #fab0a4;
  --color-secondary: #eb5757;
  --color-trade: #fe573d;
  --font-heading: "Lato", sans-serif;
  --font-content: "Work Sans", sans-serif;
  --font-special: "Righteous";
  --font-head: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}
html {
  background: #0d0d0d;
  color: var(--color-primary);
}

.sectionThree {
  position: relative;
  margin-top: 200px;
}
.section3_1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 500px;
  /* border: 1px solid #fff; */
}
.sectionCircle {
  height: 300px;
  width: 300px;
  position: relative;
  border-radius: 50%;
  background-color: rgba(250, 176, 164, 0.38);
  /* margin-top: 10px; */
  margin-left: -450px;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}
.outerSemiCircle {
  width: 275px;
  height: 550px;
  border: 10px solid #eb5757;
  padding: auto;
  border-bottom-right-radius: 275px;
  border-left: 0;
  transition: all 0.5s ease-in-out;
  border-top-right-radius: 275px;
}
.innerSemiCircle {
  position: absolute;
  right: 0;
  width: 150px;
  height: 300px;
  border-bottom-right-radius: 150px;
  border-top-right-radius: 150px;
  border: 10px solid #fab0a4;
  border-left: 0;
  transition: all 0.5s ease-in-out;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.title4 {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 250px;
  height: 110px;
  font-family: var(--font-content);
  font-weight: 400;
  font-size: 18px;
  transition: all 0.5s ease-in-out;
}
.pinchName {
  font-size: 72px;
  display: flex;
  font-weight: 700;
  color: var(--color-trade);
  transition: all 0.5s ease-in-out;
}

.pinchName::after {
  content: " ?";
  font-weight: 400;
  color: var(--color-primary);
}
.CardInner {
  padding: 27px 40px 20px 52px;
}
.cardsData {
  position: absolute;
}
.cardDataOne {
  top: -20px;
  left: 35%;
}

.cardDataTwo {
  top: 35%;
  left: 40%;
}

.cardDataThree {
  bottom: -5%;
  left: 35%;
}

.sectionLine {
  position: absolute;
  z-index: -1;
  width: 10%;
  border: 2px solid var(--color-primary);
  background: var(--color-primary);
}
.sectionLine1 {
  top: 15%;
  left: 29%;
  transform: rotate(-25deg);
}
.sectionLine2 {
  top: 50%;
  left: 32%;
}
.sectionLine3 {
  bottom: 15%;
  left: 28%;
  transform: rotate(25deg);
}

.sectionThreeCards {
  margin-left: 50px;
  position: relative;
  width: 750px;
  height: 180px;
  background: rgba(250, 176, 164, 0.38);
  border-radius: 35px;
  display: flex;
  transition: all 0.25s ease-in-out;
}

.sectionThreeCards:hover {
  transform: scale(1.05);
}
.cardsTitle {
  font-family: var(--font-content);
  font-weight: 600;
  color: var(--color-secondary);
  font-size: 18px;
}
.cardText {
  margin-top: 24px;
  font-family: var(--font-content);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.numberDisplay {
  position: absolute;
  top: 30%;
  margin-left: -40px;
  width: 40px;
  height: 40px;
  padding: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--color-secondary);
}
.numberDisplay p {
  font-family: var(--font-content);
  font-weight: 400;
  font-size: 46px;
}

@media only screen and (max-width: 700px) {
  .sectionThree {
    position: static;
    display: flex;
    justify-content:center;
    margin:auto;
    flex-direction: column;
  }
  .section3_1 {
   display:none;
  }
  .sectionCircle ,
  .outerSemiCircle ,
  .innerSemiCircle , .sectionLine ,.sectionLine1, 
  .sectionLine2 ,
  .sectionLine3 {
    display:none;
  }

  .title4 {
    top: 30%;
    left: 10%;
    font-size: 14px;

    width: 200px;
    height: 90px;
    font-family: var(--font-content);
    font-weight: 400;
  }
  .pinchName {
    font-size: 50px;
    display: flex;
    font-weight: 600;
    color: var(--color-trade);
  }

  .sectionThreeCards {
    position:relative;
    margin-left: 0;
    width: 300px;
    height: 300px;
  }
  .cardsData {
    position: static;
  }
  .cardsTitle {
    font-weight: 600;
    color: var(--color-secondary);
    font-size: 12px;
  }
  .cardText {
    margin-top: 12px;
    font-size: 10px;
    line-height: 10px;
  }
  .numberDisplay {
    top: 0;
    margin-left: -15px;
    width: 10px;
    height: 10px;
    padding: 14px;
  }
  .numberDisplay p {
    font-weight: 400;
    font-size: 24px;
  }

  .CardInner {
    padding: 15px 40px;
  }
  
 
   
}


/* @media only screen and (max-width: 1380px){
  .section3_1 {
    height: 300px;
    width: 300px;
  }
  .sectionCircle {
    height: 200px;
    width: 200px;
    margin-left: -300px;
  }
  .outerSemiCircle {
    width: 200px;
    height: 400px;
    border: 10px solid #eb5757;
    border-bottom-right-radius: 275px;
    border-left: 0;
    border-top-right-radius: 275px;
  }
  .innerSemiCircle {
    width: 100px;
    height: 200px;
    border-left: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .title4 {
    top: 30%;
    left: 10%;
    font-size: 14px;

    width: 200px;
    height: 90px;
    font-family: var(--font-content);
    font-weight: 400;
  }
  .pinchName {
    font-size: 50px;
    display: flex;
    font-weight: 600;
    color: var(--color-trade);
  }

  .sectionThreeCards {
    margin-left: 70px;
    width: 500px;
    height: 100px;
  }
  .cardsTitle {
    font-weight: 600;
    color: var(--color-secondary);
    font-size: 12px;
  }
  .cardText {
    margin-top: 12px;
    font-size: 10px;
    line-height: 10px;
  }
  .numberDisplay {
    top: 30%;
    margin-left: -15px;
    width: 10px;
    height: 10px;
    padding: 14px;
  }
  .numberDisplay p {
    font-weight: 400;
    font-size: 24px;
  }

  .CardInner {
    padding: 15px 40px;
  }
  .cardDataOne {
    top: -80px;
    left: 35%;
  }
  .cardDataTwo {
    top: 35%;
    left: 40%;
  }
  .cardDataThree {
    bottom: -28%;
    left: 33%;
  }
  .sectionLine {
    position: absolute;
    z-index: -1;
    width: 9%;
    border: 2px solid var(--color-primary);
    background: var(--color-primary);
  }
  .sectionLine1 {
    top: -5%;
    left: 34%;
  }
  .sectionLine2 {
    top: 50%;
    left: 43%;
  }
  .sectionLine3 {
    bottom: -5%;
    left: 33%;
  }
} */